[data-md-color-scheme="default"] {
    --md-primary-fg-color: #5D8095;
    --md-primary-bg-color: #ffffff;
    --md-accent-fg-color: #9BCB5E;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #5B7E90;
    --md-accent-fg-color: #9BCB5E;
}

/* Swap logo for dark mode */
[data-md-color-scheme="slate"] .md-logo img {
    content: url("../assets/tools-logo_white.svg");
}
